* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    /*padding-top:15vh; 
    background-position: 20%;*/
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-image: url(./mini-back.png);
}

#board {
    background: url(./mini-back2.png);
    background-size: cover;
    /*box-shadow: 0px 0px 1px 1px rgb(255 255 255 / 30%);*/
}

#board TD {
    width: 30px;
    height: 30px;
    font-size: 2px;
}

TD.foot {
    font-size: 12px;
}

p {
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    font-weight: bold;
    color: #333;
    background-color: #ffffff33;
    border-radius: 5px;
}

#board TD.start {
    font-size: 10px;
    border-left: 2px black solid;
    /*background: rgb(250, 221, 193);*/
    background-image: url(./paw.png);
    background-position: 30px 0px;
    border-top: 2px black solid;
    text-align: center;
    color: rgb(255, 0, 0);
}

#board TD.end {
    font-size: 10px;
    text-align: center;
    color: rgb(255, 0, 0);
    background-image: url(./flag.png);
}

#message {
    margin: 0pt;
    margin-top: 6px;
    padding: 0pt;
    text-align: center
}

#help {
    margin-bottom: 6px;
}